<!DOCTYPE html>
<html>
<head>
    <title>Order List</title>
</head>
<body>
<h1>Order List</h1>

<!-- Таблица для отображения списка заказов -->
<table>
    <thead>
    <tr>
        <th>Order Number</th>
        <th>Client</th>
        <th>Order Date</th>

    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
    <tr>
        <td><a href="{% url 'order_detail' order.id %}">{{ order.order_number }}</a></td>
        <td>{{ order.client.name }}</td>
        <td>{{ order.order_date }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>

