<!-- Таблица для отображения списка продуктов -->
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Date Added</th>
        <th>Image</th>  <!-- Добавляем столбец для изображения -->
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.date_added }}</td>
        <td><img src="{{ product.image.url }}" alt="{{ product.name }}" width="100"></td>
        <!-- Отображаем изображение продукта -->
    </tr>
    {% endfor %}
    </tbody>
</table>
