<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
<h1>Product List</h1>

<!-- Таблица для отображения списка продуктов -->
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>quantity</th>
        <th>data added</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.date_added }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>